<div class="full_container">
  <div class="inner_container">
     <!-- Sidebar  -->

     <app-header></app-header>

     <!-- end sidebar -->
     <!-- right content -->
     <div id="content">
        <!-- topbar -->
       
        <!-- end topbar -->
        <!-- dashboard inner -->
        <div class="midde_cont">

         <router-outlet></router-outlet>
           <!-- footer -->
           <app-footer></app-footer>
           
        </div>
        <!-- end dashboard inner -->
     </div>
  </div>
</div>